<h3>Test App for Flying Donkey</h3>

<p>
    Using Web API and Angular create a simple page to upload/view files. The page is split into two parts: upload area and view area.
    Upload area - single for all files. File size and file types that can be uploaded to the server must be configurable. Validation for invalid data should present.
    View area - consists of one or more table (one table per permitted file type). Must reflect: file name, file size, upload date, the user that uploaded a file.
    The page should be as generic/reusable as possible.
</p>
<p>
    Add at least two unit tests for back-end and two unit tests for front-end. Tests must have positive and negative scenarios
</p>
<p>
    project should not contain code that is not related to the task
    ** all external references must be excluded from the package with test task project (please do NOT include Node Modules).
</p>

<app-upload-form></app-upload-form>

<app-upload-list></app-upload-list>
