################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiTest/.vs
/ApiTest/ApiTest/bin/Debug
/ApiTest/ApiTest/obj
/ApiTest/ApiTest.XUnitTests/bin/Debug
/ApiTest/ApiTest.XUnitTests/obj
/ApiTest/ApiTest/ApiTest.csproj.user
