<div *ngIf="(files$ | async) as files">
    <h4>Uploaded files</h4>
    <div *ngFor="let ext of files | keyvalue">
        <div style="padding: 5px; background-color: gray;">
            {{ext.key}}
        </div>
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>User</th>
                    <th>Date uploaded</th>
                </tr>
            </thead>
            <tr *ngFor="let f of ext.value">
                <td>{{f.fileName}}</td>
                <td>{{f.fileSize}}</td>
                <td>{{f.userUploaded}}</td>
                <td>{{f.uploadDate | date:'short'}}</td>
            </tr>
        </table>
    </div>
</div>